{% extends "base.html" %}

{% block content %}

<div class="guide">
  <h2 class="subheading">Guidelines</h2>
  <ol>
    <li>
      I am not qualified with a degree to talk on any of these subjects
      professionally, yet here I am. God bless freedom of expression. T.T
    </li>
    <li>
      All the essays are original. If I've sourced content from elsewhere, it'll
      be specified. These essays are not meant to be educative, but more so
      introspective.
    </li>
    <li>
      I do link all the references referred to at the end of each essay and I
      recommend you go through them if the subject interests you.
    </li>
    <li>
      Wherever you see "<strong>Tangent: </strong>" It is often not related to
      the subject of the essay and is just me forgetting the backspace key
      exists. (tangents can be skipped while reading, won't make a difference)
    </li>
    <li>
      After a tangent, "<strong>Anyway: </strong>" is where you should continue
      reading.
    </li>
    <li>
      These essays are mainly for my own amusement and to encourage my own
      research in subjects I care about. Read these essays with a grain of salt
      and try not to take them too seriously (unless mentioned otherwise xoxo).
    </li>
    <li>There shall be errors, I am human.</li>
    <li>thanks, and im sorry lol.</li>
  </ol>
</div>
{% endblock %}
