{% extends "base.html" %}

{% block content %}

    <article>
      <button class="hire">
        <a href="https://youtu.be/ivG6ZPVJ_iw" target="_blank">
          HIRE NOW</a
        >
      </button>
      <h1 class="website-name">SpongeBob SquarePants</h1>
      <a href="https://ibb.co/r6FrDzF"
        ><img
          src="https://i.ibb.co/DCz20vz/IMG-0682.png"
          alt="IMG-0682"
          width="250"
          height="250"
      /></a>
      <p class="cost"><strong>Resume</strong></p>
      <p class="tc">willing to interview</p>
      <p class="desc">
        Mr. SquarePants has a lot fo experience in the fast-food industry. He
        has catered to the needs of almost everyone in his town. Versatile,
        creative, and highly optimistic- Mr. SquarePants lives <em>only</em> for
        the <strong>future</strong>.
      </p>
      <p>
        <a
          class="more"
          href="https://nickelodeon.fandom.com/wiki/SpongeBob_SquarePants_(character)"
          target="_blank"
        >
          More information &rArr;</a
        >
      </p>
      <div class="outer">
        <div class="red">    </div>
        <div class="black">    </div>
        <div class="green">    </div>
        <div class="pink">    </div>
        <div class="blue">    </div>

      </div>
      <p class="person">
      <h3>Personality traits include, but are not limited to :</h3>
      <ul>
        <li>hyperactive</li>
        <li>fun-loving</li>
        <li>clueless</li>
        <li>happy-go-lucky</li>
        <li>deligent</li>
        <li>honest and law-abiding</li>
        <li>willing to stand up for what's right</li>
      </ul>
    </p>
      <button class="nohire">
        <a href="https://youtu.be/axfdCFyPj4A" target="_blank">
          Mr. SquarePants if you don't hire him</a
        >
      </button>
      <!-- <p><a href="index.html">back to main page</a></p>
      <p><a href="poem.html">poem</a></p> -->
    </article>
    {% endblock %}

